MONGODB_URI=your_mongodb_connection_string
NEXT_PUBLIC_SITE_URL=http://localhost:3000

NEXT_PUBLIC_BYBIT_REFERRAL_LINK=your_bybit_referral_link
NEXT_PUBLIC_BINANCE_REFERRAL_LINK=your_binance_referral_link
NEXT_PUBLIC_GATE_REFERRAL_LINK=your_gate_referral_link